# gnumon - Global evdev input hotkey and mouse click-to-photon latency access for current active desktop user
KERNEL=="event*", SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", TAG+="seat", TAG+="uaccess"
KERNEL=="event*", SUBSYSTEM=="input", ENV{ID_INPUT_MOUSE}=="1", TAG+="seat", TAG+="uaccess"
